<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Services</title>
        <link rel="stylesheet" href="/static/css/s.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="shortcut icon" href="/static/images/icons8-airplane-64.png">


    </head>

    <body>
        <section class="navigation">
            <div class="nav-container">
                <div class="brand">
                    <a href="#!">Flight Price Prediction</a>
                </div>
                <nav>
                    <div class="nav-mobile">
                        <a id="nav-toggle" href="#!"><span></span></a>
                    </div>
                    <ul class="nav-list">
                        <!-- Setting the links to #! will ensure that no action takes place on click. -->
                        <li><a href="/">Home</a></li>
                        <li><a href="/predict">Price Prediction</a></li>
                        <li><a href="/service">Services</a></li>
                        <li><a href="#!">Booking</a>
                            <ul class="nav-dropdown">
                                <li><a href="https://www.makemytrip.com/flights/">MakeMyTrip</a></li>
                                <li><a href="https://www.goibibo.com/flights/">Goibibo</a></li>
                                <li><a href="https://www.cleartrip.com/flights/">Cleartrip</a></li>
                                <li><a href="https://www.flipkart.com/travel/flights">Flipkart</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="facilities">
            <h1>Travel classes</h1>
            <br>
            <h3>The perfect service for every kind of trip</h3>
            <br>
            <p style="text-align: justify;">Whether it’s Economy, Premium Economy, Business or First Class – we provide the perfect service whatever your reason for travelling. Find out everything you need to know about our travel classes here.
            </p>

            <br>
            <br>

            <div class="responsive">
                <div class="gallery">
                    <img src="\static\images\i3.jpg" width="500px;" height="400px;">
                  </a>
                  <h2> Economy Class </h2>
                  <p style="text-align: justify;">Here you will find information about our comfortable seating, the entertainment programme, Internet access and food and beverages in  Economy Class.</p>
              
              </div>
              </div> 
              
              <div class="abc">
                <div class="gallery">
                    <img src="/static/images/WhatsApp Image 2022-03-25 at 15.42.36.jpeg"  width="500px;" height="400px;">
                 <h2>Business Class</h2>
              
                 <p style="text-align: justify;">Wherever your journey takes you: in Business Class you’ll simply arrive feeling more relaxed.
                 </p><br><br>
              </div>
              </div>

            <!-- <div class="row1">
                <div class="facilities-col">
                    <img src="/static/images/10.jpg">
                    <br>    
                    <h3>Economy Class</h3>
                    <p>Here you will find information about our comfortable seating, the entertainment programme, Internet access and food and beverages in Lufthansa Economy Class.</p>
                </div>
                <br>
                <br>

                <div class="facilities-col">
                    <img src="/static/images/11.jpg">
                    <br>
                    <h3 style="margin-left: 100px;">Premium Economy Class</h3>
                    <p style="margin-left: 100px;">Enjoy even more comfortable seating, more service and more extras in Lufthansa Premium Economy Class.</p>
                </div>
            </div>
                <br>
                <br>
            <div class="row2">
                <div class="facilities-col">
                    <img src="/static/images/12.jpg">
                    <br>
                    <h3 style="margin-left: 100px;">Business Class</h3>
                    <p style="margin-left: 100px;">Wherever your journey takes you: in Lufthansa Business Class you’ll simply arrive feeling more relaxed.</p>
                </div>

                <br>
                <br>
                <div class="facilities-col">
                    <img src="/static/images/13.jpg">
                    <br>
                    <h3 style="margin-left: 100px;">First Class</h3>
                    <p style="margin-left: 100px;">Travelling First Class means always being able to expect the extraordinary. And we will do justice to this expectation in Lufthansa First Class.</p>
                </div>

                <br>
                <br>
            </div> -->
        </section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
        <script src="/static/js/navbar.js"></script>
    </body>

</html>